{% extends "body.html" %}
{% block title %}Viewer{% endblock %}
{% block head_header %}
    <link rel="stylesheet" href="static/viewer.css">
{% endblock %}
{% block content %}      
    <a href="{{ url_for('browser.list_dir', req_path='') }}" class="fcc-btn">Home</a>
    <div class="bokeh-div">
        {{ div|safe }}
        {{ script|safe }}
    </div>
{% endblock %}
{%block scripts%}
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.3.min.js"
            crossorigin="anonymous"></script>
{% endblock %}
